@import "tailwindcss";

:root {
  --background: #f8fafc;
  --surface: #ffffff;
  --card: #ffffff;

  --text-primary: #0f172a;
  --text-secondary: #64748b;

  --border: #e2e8f0;

  --primary: #0092be;
}

.dark {
  --background: #0b1120;
  --surface: #111827;
  --card: #172033;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;

  --border: #263244;

  --primary: #0092be;
}


html,
body {
  height: 100%;
}

body {
  font-family:
    var(--font-noto-sans),
    sans-serif;

  background:
    var(--background);

  color:
    var(--text-primary);
}


* {
  border-color: var(--border);
}